In [1]:
import pandas as pd

In [7]:
df = pd.read_csv("covid19.csv")
df

    ObservationDate  Confirmed  Deaths  Recovered
0        2020-03-01        100       2         10
1        2020-03-02        150       3         20
2        2020-03-03        200       4         30
3        2020-03-04        250       5         40
4        2020-03-05        300       6         50
..              ...        ...     ...        ...
495      2021-07-09      24850     497       4960
496      2021-07-10      24900     498       4970
497      2021-07-11      24950     499       4980
498      2021-07-12      25000     500       4990
499      2021-07-13      25050     501       5000

[500 rows x 4 columns]

In [9]:
# View Data
print("First 5 Rows:\n", df.head())
print("\nLast 5 Rows:\n", df.tail())

First 5 Rows:
   ObservationDate  Confirmed  Deaths  Recovered
0      2020-03-01        100       2         10
1      2020-03-02        150       3         20
2      2020-03-03        200       4         30
3      2020-03-04        250       5         40
4      2020-03-05        300       6         50

Last 5 Rows:
     ObservationDate  Confirmed  Deaths  Recovered
495      2021-07-09      24850     497       4960
496      2021-07-10      24900     498       4970
497      2021-07-11      24950     499       4980
498      2021-07-12      25000     500       4990
499      2021-07-13      25050     501       5000

In [11]:
# Data Types
print("\nData Types:\n", df.dtypes)

Data Types:
 ObservationDate    object
Confirmed           int64
Deaths              int64
Recovered           int64
dtype: object

In [13]:
# Summary Statistics
print("\nMean:\n", df.mean(numeric_only=True))
print("\nMedian:\n", df.median(numeric_only=True))
print("\nMin:\n", df.min())
print("\nMax:\n", df.max())
print("\nCount:\n", df.count())

Mean:
 Confirmed    12575.0
Deaths         251.5
Recovered     2505.0
dtype: float64

Median:
 Confirmed    12575.0
Deaths         251.5
Recovered     2505.0
dtype: float64

Min:
 ObservationDate    2020-03-01
Confirmed                 100
Deaths                      2
Recovered                  10
dtype: object

Max:
 ObservationDate    2021-07-13
Confirmed               25050
Deaths                    501
Recovered                5000
dtype: object

Count:
 ObservationDate    500
Confirmed          500
Deaths             500
Recovered          500
dtype: int64

In [15]:
# Filter Rows
filtered = df[df['Age'] > 25]
print("\nFiltered Data:\n", filtered)

KeyError: 'Age'

In [19]:
import pandas as pd

# Step 1: Read CSV File
df = pd.read_csv("covid19.csv")
df

    ObservationDate  Confirmed  Deaths  Recovered
0        2020-03-01        100       2         10
1        2020-03-02        150       3         20
2        2020-03-03        200       4         30
3        2020-03-04        250       5         40
4        2020-03-05        300       6         50
..              ...        ...     ...        ...
495      2021-07-09      24850     497       4960
496      2021-07-10      24900     498       4970
497      2021-07-11      24950     499       4980
498      2021-07-12      25000     500       4990
499      2021-07-13      25050     501       5000

[500 rows x 4 columns]

In [21]:
# Step 2: Display First & Last Rows
print("First 5 Rows:\n")
print(df.head())

print("\nLast 5 Rows:\n")
print(df.tail())

First 5 Rows:

  ObservationDate  Confirmed  Deaths  Recovered
0      2020-03-01        100       2         10
1      2020-03-02        150       3         20
2      2020-03-03        200       4         30
3      2020-03-04        250       5         40
4      2020-03-05        300       6         50

Last 5 Rows:

    ObservationDate  Confirmed  Deaths  Recovered
495      2021-07-09      24850     497       4960
496      2021-07-10      24900     498       4970
497      2021-07-11      24950     499       4980
498      2021-07-12      25000     500       4990
499      2021-07-13      25050     501       5000

In [23]:
# Step 3: Check Data Types
print("\nData Types:\n")
print(df.dtypes)

Data Types:

ObservationDate    object
Confirmed           int64
Deaths              int64
Recovered           int64
dtype: object

In [25]:
# Step 4: Summary Statistics
print("\nSummary Statistics:\n")

print("Mean:\n", df.mean(numeric_only=True))
print("\nMedian:\n", df.median(numeric_only=True))
print("\nMinimum:\n", df.min())
print("\nMaximum:\n", df.max())
print("\nCount:\n", df.count())

Summary Statistics:

Mean:
 Confirmed    12575.0
Deaths         251.5
Recovered     2505.0
dtype: float64

Median:
 Confirmed    12575.0
Deaths         251.5
Recovered     2505.0
dtype: float64

Minimum:
 ObservationDate    2020-03-01
Confirmed                 100
Deaths                      2
Recovered                  10
dtype: object

Maximum:
 ObservationDate    2021-07-13
Confirmed               25050
Deaths                    501
Recovered                5000
dtype: object

Count:
 ObservationDate    500
Confirmed          500
Deaths             500
Recovered          500
dtype: int64

In [27]:
# Step 5: Convert Date Column
df['ObservationDate'] = pd.to_datetime(df['ObservationDate'])
print("\nDate Column Converted Successfully!")

Date Column Converted Successfully!

In [29]:
# Step 6: Filter Rows (Confirmed Cases > 1000)
filtered_data = df[df['Confirmed'] > 1000]

print("\nFiltered Data (Confirmed > 1000):\n")
print(filtered_data)

Filtered Data (Confirmed > 1000):

    ObservationDate  Confirmed  Deaths  Recovered
19       2020-03-20       1050      21        200
20       2020-03-21       1100      22        210
21       2020-03-22       1150      23        220
22       2020-03-23       1200      24        230
23       2020-03-24       1250      25        240
..              ...        ...     ...        ...
495      2021-07-09      24850     497       4960
496      2021-07-10      24900     498       4970
497      2021-07-11      24950     499       4980
498      2021-07-12      25000     500       4990
499      2021-07-13      25050     501       5000

[481 rows x 4 columns]

In [31]:
# Step 6: Filter Rows (Confirmed Cases > 1000)
filtered_data = df[df['Confirmed'] > 1000]

print("\nFiltered Data (Confirmed > 1000):\n")
print(filtered_data)

Filtered Data (Confirmed > 1000):

    ObservationDate  Confirmed  Deaths  Recovered
19       2020-03-20       1050      21        200
20       2020-03-21       1100      22        210
21       2020-03-22       1150      23        220
22       2020-03-23       1200      24        230
23       2020-03-24       1250      25        240
..              ...        ...     ...        ...
495      2021-07-09      24850     497       4960
496      2021-07-10      24900     498       4970
497      2021-07-11      24950     499       4980
498      2021-07-12      25000     500       4990
499      2021-07-13      25050     501       5000

[481 rows x 4 columns]

In [33]:
# Step 7: Select Columns
selected_columns = df[['ObservationDate', 'Confirmed']]
print("\nSelected Columns (Date & Confirmed):\n")
print(selected_columns)

Selected Columns (Date & Confirmed):

    ObservationDate  Confirmed
0        2020-03-01        100
1        2020-03-02        150
2        2020-03-03        200
3        2020-03-04        250
4        2020-03-05        300
..              ...        ...
495      2021-07-09      24850
496      2021-07-10      24900
497      2021-07-11      24950
498      2021-07-12      25000
499      2021-07-13      25050

[500 rows x 2 columns]

In [35]:
# Step 8: Slice First 20 Rows
subset_data = df.iloc[0:20]
print("\nFirst 20 Rows:\n")
print(subset_data)

First 20 Rows:

   ObservationDate  Confirmed  Deaths  Recovered
0       2020-03-01        100       2         10
1       2020-03-02        150       3         20
2       2020-03-03        200       4         30
3       2020-03-04        250       5         40
4       2020-03-05        300       6         50
5       2020-03-06        350       7         60
6       2020-03-07        400       8         70
7       2020-03-08        450       9         80
8       2020-03-09        500      10         90
9       2020-03-10        550      11        100
10      2020-03-11        600      12        110
11      2020-03-12        650      13        120
12      2020-03-13        700      14        130
13      2020-03-14        750      15        140
14      2020-03-15        800      16        150
15      2020-03-16        850      17        160
16      2020-03-17        900      18        170
17      2020-03-18        950      19        180
18      2020-03-19       1000      20        190
19      2020-03-20       1050      21        200

In [37]:
# Step 9: Save Filtered Data
filtered_data.to_csv("filtered_covid_data.csv", index=False)
filtered_data.to_excel("filtered_covid_data.xlsx", index=False)
print("\nFiltered files saved successfully!")

Filtered files saved successfully!

In [39]:
# Step 10: Basic Analysis
total_confirmed = df['Confirmed'].sum()
total_deaths = df['Deaths'].sum()
total_recovered = df['Recovered'].sum()

print("\nOverall Covid Summary:")
print("Total Confirmed:", total_confirmed)
print("Total Deaths:", total_deaths)
print("Total Recovered:", total_recovered)

Overall Covid Summary:
Total Confirmed: 6287500
Total Deaths: 125750
Total Recovered: 1252500

In [41]:
# Step 11: Find Highest Cases Day
max_confirmed = df.loc[df['Confirmed'].idxmax()]

print("\nDay with Highest Confirmed Cases:\n")
print(max_confirmed)

Day with Highest Confirmed Cases:

ObservationDate    2021-07-13 00:00:00
Confirmed                        25050
Deaths                             501
Recovered                         5000
Name: 499, dtype: object